<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <link rel="stylesheet" href="css/regis.css">

    <div class="container">

<h1 class="display-4">its a home</h1>

    </div>

</body>

</html>