<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Registration</title>
</head>

<body>
    {{>navbar}}
    <link rel="stylesheet" href="css/regis.css">

    <div class="container">

        {{>registration}}

    </div>

</body>

</html>